/**
 * Animations
 */

#main {
    animation-duration: 3s;  
    animation-name: cloud-movement; 
    animation-iteration-count: infinite;
    -moz-animation-duration: 3s;  
    -moz-animation-name: cloud-movement; 
    -moz-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;  
    -webkit-animation-name: cloud-movement; 
    -webkit-animation-iteration-count: infinite;
    -o-animation-duration: 3s;  
    -o-animation-name: cloud-movement; 
    -o-animation-iteration-count: infinite;
    -ms-animation-duration: 3s;  
    -ms-animation-name: cloud-movement; 
    -ms-animation-iteration-count: infinite;
}

@-keyframes cloud-movement {  
    from, to { background-position: 0 15px, 700px 50px; }  
    50% { background-position: 0 28px, 703px 58px; }  
}
@-webkit-keyframes cloud-movement {  
    from, to { background-position: 0 15px, 700px 50px; }  
    50% { background-position: 0 28px, 703px 58px; }  
}  
@-moz-keyframes cloud-movement {  
    from, to { background-position: 0 15px, 700px 50px; }  
    50% { background-position: 0 28px, 703px 58px; }  
}  
@-o-keyframes cloud-movement {  
    from, to { background-position: 0 15px, 700px 50px; }  
    50% { background-position: 0 28px, 703px 58px; }  
}  
@-ms-keyframes cloud-movement {  
    from, to { background-position: 0 15px, 700px 50px; }  
    50% { background-position: 0 28px, 703px 58px; }  
}   