/**
 * Fonts
 */
@font-face {
    font-family: dejavusans;
    src: url('font/DejaVuSansCondensed.ttf');
}

@font-face {
    font-family: dejavusans;
    font-weight: bold;
    src: url('font/DejaVuSans-Bold.ttf');
}

@font-face {
    font-family: altehaas;
    src: url('font/AlteHaasGroteskRegular.ttf');
}

@font-face {
    font-family: altehaas;
    font-weight: bold;
    src: url('font/AlteHaasGroteskBold.ttf');
}

* {

}

/**
 * Site
 */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#site {
    position: relative;
    font-family: altehaas;
    background-image: url("img/skyline-rostock.png"), url('img/bg.png'), linear-gradient(bottom, rgb(173,95,61) 0%, rgb(220,179,131) 16%, rgb(214,214,186) 40%, rgb(95,147,169) 80%, rgb(55,100,135) 100%);
    background-image: url("img/skyline-rostock.png"), url('img/bg.png'), -o-linear-gradient(bottom, rgb(173,95,61) 0%, rgb(220,179,131) 16%, rgb(214,214,186) 40%, rgb(95,147,169) 80%, rgb(55,100,135) 100%);
    background-image: url("img/skyline-rostock.png"), url('img/bg.png'), -moz-linear-gradient(bottom, rgb(173,95,61) 0%, rgb(220,179,131) 16%, rgb(214,214,186) 40%, rgb(95,147,169) 80%, rgb(55,100,135) 100%);
    background-image: url("img/skyline-rostock.png"), url('img/bg.png'), -webkit-linear-gradient(bottom, rgb(173,95,61) 0%, rgb(220,179,131) 16%, rgb(214,214,186) 40%, rgb(95,147,169) 80%, rgb(55,100,135) 100%);
    background-image: url("img/skyline-rostock.png"), url('img/bg.png'), -ms-linear-gradient(bottom, rgb(173,95,61) 0%, rgb(220,179,131) 16%, rgb(214,214,186) 40%, rgb(95,147,169) 80%, rgb(55,100,135) 100%);
    min-height: 100%;
    background-repeat: no-repeat, repeat;
    background-position: bottom;
    background-size: 100%, auto;
    border-top: 2px solid #263747;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#site.night {
    background-image: url("img/night-skyline-rostock.png"), url('img/bg.png'), linear-gradient(top, rgb(42,76,103) 0%, rgb(65,105,122) 20%, rgb(63,79,122) 80%, rgb(46,68,86) 100%);
    background-image: url("img/night-skyline-rostock.png"), url('img/bg.png'), -o-linear-gradient(top, rgb(42,76,103) 0%, rgb(65,105,122) 20%, rgb(63,79,122) 80%, rgb(46,68,86) 100%);
    background-image: url("img/night-skyline-rostock.png"), url('img/bg.png'), -moz-linear-gradient(top, rgb(42,76,103) 0%, rgb(65,105,122) 20%, rgb(63,79,122) 80%, rgb(46,68,86) 100%);
    background-image: url("img/night-skyline-rostock.png"), url('img/bg.png'), -webkit-linear-gradient(top, rgb(42,76,103) 0%, rgb(65,105,122) 20%, rgb(63,79,122) 80%, rgb(46,68,86) 100%);
    background-image: url("img/night-skyline-rostock.png"), url('img/bg.png'), -ms-linear-gradient(top, rgb(42,76,103) 0%, rgb(65,105,122) 20%, rgb(63,79,122) 80%, rgb(46,68,86) 100%);
}

#main {
    width: 1024px;
    padding-top: 70px;
    margin: auto;
    background-image: url('img/cloud.png'), url('img/cloud.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0 15px, 700px 100px;
}

/**
 * Header
 */
header {
    float: left;
}

    header #logo {
        padding-right: 20px;
    }

/**
 * Navigation
 */
nav {
    float: left;
    margin-left: 25px;
}
    nav h1 {
        margin: 0;
        padding: 0;
        font-size: 11pt;
        font-weight: normal;
        color: #fefefe;
    }

    nav ul {
        background-image: linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
        background-image: -o-linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
        background-image: -moz-linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
        background-image: -webkit-linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
        background-image: -ms-linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
        border: 1px solid #333;
        height: 46px;
        width: 498px;
        margin: 0;
        padding: 0;
        float: left;
    }

        nav ul li {
            display: inline-block;
            float: left;
        }

            nav ul li a {
                color: #fefefe;
                text-decoration: none;
                display: block;
                height: 100%;
                padding: 0 15px;
                line-height: 46px;
            }

        nav ul li:hover {
            background-image: linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            background-image: -o-linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            background-image: -ms-linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
        }

        nav ul li.active {
            background-image: linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            background-image: -o-linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            background-image: -moz-linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            background-image: -ms-linear-gradient(bottom, rgb(30,43,56) 0%, rgb(38,55,71) 100%);
            font-weight: bold;
        }

/**
 * Twitter
 */

#news {
    float: left;
    margin-left: 5px;
    width: 298px;
}

    #news h1 {
        margin: 0;
        padding: 0;
        font-size: 11pt;  
        color: #fefefe;      
    }

    #news #twitter {
        background-image: linear-gradient(top, rgb(168,18,23) 0%, rgb(127,23,28) 100%);
        background-image: -o-linear-gradient(top, rgb(168,18,23) 0%, rgb(127,23,28) 100%);
        background-image: -moz-linear-gradient(top, rgb(168,18,23) 0%, rgb(127,23,28) 100%);
        background-image: -webkit-linear-gradient(top, rgb(168,18,23) 0%, rgb(127,23,28) 100%);
        background-image: -ms-linear-gradient(top, rgb(168,18,23) 0%, rgb(127,23,28) 100%);
        height: 46px;
        border: 1px solid rgb(127,23,28);
    }

        #news #twitter p {
            margin: 0;
            color: #fefefe;
            line-height: 46px;
            padding: 0 10px;
        }

        #news #twitter .upper_right_corner {
            background-image: url("img/upper-right-corner.png");
            height: 14px;
            width: 18px;
            margin-top: -15px;
            float: right;
            margin-right: -1px;
        }
/**
 * Content
 */

#content {
    padding-top: 60px;
    padding-bottom: 200px;
    clear: both;
}

    #content .text {
        background-color: rgba(255, 255, 255, 0.25);
        padding-bottom: 25px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    #content .title {
        background-image: url("img/lower-left-corner.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-left: -19px;
        margin-top: -10px;
        display: inline-block;
        padding-bottom: 14px;
        position: relative;
        z-index: 2;
    }

        #content .title h1 {
            border: 1px solid #333;
            padding: 0 28px 0 28px;
            margin: 0;
            color: #fefefe;
            font-size: 16pt;
            line-height: 46px;
            display: inline-block;
            background-image: linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
            background-image: -o-linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
            background-image: -moz-linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
            background-image: -webkit-linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
            background-image: -ms-linear-gradient(top, rgb(33,47,61) 0%, rgb(20,29,38) 100%);
        }

    #content p {
        margin: 0 25px 15px 25px;
        line-height: 1.5;
    }

    #content h2 {
        margin: 15px 25px 0 25px;
        line-height: 1.5;
        font-size: 14pt;
    }

    #content .foss {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #fefefe;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    #content .foss table {
        width: 100%;
    }

    #content .references {
        float: left;
        margin-top: -50px;
    }

        #content .references .reference {
            background-color: rgba(255, 255, 255, 0.2);
            background-size: 100%;
            width: 334px;
            height: 360px;
            margin-right: 11px;
            margin-bottom: 11px;
            float: left;
            position: relative;
        }

            #content .references .reference .reference_image {
                position: relative;
                z-index: 1; 
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: 100%;   
            }

            #content .references .reference:hover .reference_image {
                opacity: 0.15;
            }                

            #content .references .reference .reference_details {
                display: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 20px;
                width: 100%;
                position: absolute;
                z-index: 3;
                top: 120px;
            }

            #content .references .reference:hover .reference_details {
                display: block;
            }

            #content .references .reference h2.reference_title {
                word-wrap: break-word;
                color: #fefefe;
                font-size: 37pt;
                font-weight: normal;   
                margin: 0;
                padding: 0;
                line-height: 1;
            }

            #content .references .reference p.reference_description {
                word-wrap: break-word;   
                color: #263747;
                margin: 0;
                padding: 0;
            }
/**
 * Footer
 */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

    footer ul {
        width: 1024px;
        padding: 0;
        margin: auto;
        text-align: right;
        list-style-type: none;
    }

        footer ul li {
            display: inline-block;
            color: #894d32;
        }


            footer ul li a {
                text-decoration: none;
                color: #894d32;
            }

                footer ul li a:hover {
                    color: #4d2f1f;
                }

                footer ul li a.active {
                    color: #4d2f1f;
                }