{% extends 'homepage/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Oberth-Media - Über uns' %}{% endblock %}

{% block content %}
<div id="about">
    <div class="title"><h1>{% trans 'Über uns' %}</h1></div>
    <div class="about_header">
        <h2>{% trans 'Überschrift' %}</h2>
        <p>{% blocktrans %}Seit Mai 2010 sind wir nun als Werbeagentur tätig.{% endblocktrans %}</p>
        <p>{% blocktrans %}Ein steiniger Weg liegt als Selbständige hinter uns
            und wir wollen Sie dabei unterstützen, dass Sie Ihren ebenso gut
            meistern wie wir.{% endblocktrans %}</p>
    </div>
</div>

<div class="text">
    <div class="title"><h1>{% trans 'Leistungen' %}</h1></div>
    <p>{% trans 'Wir bieten unter anderem folgende Leistungen an' %}:</p>
    <ul>
        <li>{% trans 'Corporate Design & Identity' %}</li>
        <li>{% trans 'Satz und Layout' %}</li>
        <li>{% trans 'Gestaltung von Druckereierzeugnissen und deren Druck (bsw. Visitenkarten, Briefpapier, Stempel und Co)' %}</li>
        <li>{% trans 'Illustrationen & Fotografie' %}</li>
        <li>{% trans 'Webseitengestaltung & Programmierung' %}</li>
        <li>{% trans 'Werbegeschenke & Werbetexte (auch in Englisch)' %}</li>
        <li>{% trans 'Sonderwünsche wie bsw. sehr edle Visitenkarten' %}</li> 
    </ul>
</div>
{% endblock %}

