{% extends 'homepage/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Oberth-Media - Über uns' %}{% endblock %}

{% block content %}
<div id="about">
    <div class="title"><h1>{% trans 'Über uns' %}</h1></div>
    <div class="about_header">
        <h2>{% trans 'Oberth Media ist' %}:</h2>
        <p>{% blocktrans %}Eine junge, innovative Werbeagentur aus Rostock. <p>Oberth Media besteht aus: </p>
        <ul>
            <li>Julian Oberth (Chief Executive Officer)</li>
            <li>Karsten Janke (Chief Operating Officer, Designer)</li>
        </ul>
        {% endblocktrans %}</p>
        <p>{% blocktrans %}Wir stehen Ihnen seit 2010 mit frischen Ideen zur Seite.{% endblocktrans %}</p>
    </div>
</div>

<div class="text sub_page">
    <div class="title"><h1>{% trans 'Leistungen' %}</h1></div>
    <p>{% trans 'Wir bieten unter anderem folgende Leistungen an' %}:</p>
    <ul>
        <li>{% trans 'Corporate Design & Identity' %}</li>
        <li>{% trans 'Satz und Layout' %}</li>
        <li>{% trans 'Gestaltung von Druckereierzeugnissen und deren Druck (bsw. Visitenkarten, Briefpapier, Stempel und Co.)' %}</li>
        <li>{% trans 'Illustrationen & Fotografie' %}</li>
        <li>{% trans 'Webseitengestaltung & Programmierung' %}</li>
        <li>{% trans 'Werbegeschenke & Werbetexte (auch in Englisch)' %}</li>
        <li>{% trans 'Sonderwünsche wie bsw. sehr edle Visitenkarten' %}</li> 
    </ul>
</div>


<div class="text sub_page">
    <div class="title"><h1>{% trans 'Preise' %}</h1></div>
    <h2>{% blocktrans %}57. Europäischer Wettbewerb 2010 Europäisches Jahr zur Bekämpfung von Armut und sozialer Ausgrenzung{% endblocktrans %}</h2>
    
    <p><a href="{{ STATIC_URL }}homepage/img/pages/57wettbewerb.jpg"><img width="200" class="left" src="{{ STATIC_URL }}homepage/img/pages/57wettbewerb.jpg" alt="{% trans 'Medaille' %}"/></a></p>
    <p>{% blocktrans %}Unser Designer Karsten Janke wurde mit dem Preis des <a href="http://www.europaeischer-wettbewerb.de/">„57. Europäischer Wettbewerb 2010“</a> vom Bundestagspräsidenten ausgezeichnet. {% endblocktrans %}</p>
    <p>Aufgabe war es, auf das Thema Armut und Soziale Ausgrenzung aufmerksam zu machen. Dazu wurden diverse Poster erstellt, die dann zur Auswahl geschickt wurden.</p>
    <p>Der Titel des 57. Europäischer Wettbewerb 2010: Mit neuem Mut. 2010 Europäisches Jahr zur Bekämpfung von Armut und sozialer Ausgrenzung</p>
    <p style="clear:both;"></p>
</div>
{% endblock %}

