{% extends 'homepage/text.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Oberth-Media - Allgemeine Geschäftsbedingungen' %}{% endblock %}

{% block page_title %}{% trans 'Allgemeine Geschäftsbedingungen' %}{% endblock %}

{% block text %}
<h2>{% trans '§ 1. Allgemeines' %}</h2>

<p>{% trans 'Alle Leistungen von OBERTH-MEDIA werden ausschließlich auf Basis der nachfolgenden Allgemeinen Geschäftsbedingungen erbracht. Das Angebot von OBERTH-MEDIA richtet sich ausschließlich an gewerbliche Kunden. Der Kunde verpflichtet sich, bei nicht gewerblicher Nutzung dies OBERTH-MEDIA mitzuteilen. OBERTH-MEDIA behält sich vor, diesen Auftrag abzulehnen.' %}</p>

<h2>{% trans '§ 2. Geltungsbereich' %}</h2>

<p>{% trans 'Entgegenstehende AGB von Kunden werden nicht anerkannt. Dies gilt auch dann, wenn die Leistung durch OBERTH-MEDIA gegenüber dem Kunden zunächst vorbehaltlos erbracht worden ist.' %}</p>

<h2>{% trans '§ 3. Leistungen' %}</h2>

<p>{% trans 'Die Leistungen von OBERTH-MEDIA werden nach bestem Wissen und Gewissen gegenüber den Kunden erbracht. Eine Gewährleistung für die Verfügbarkeit der angebotenen Dienste kann nicht erbracht werden. Die Lieferzeiten können je nach Auftragslage und Kundenreaktion variieren. Führt OBERTH-MEDIA kostenlose Leistungen auf Kulanzbasis durch, so können diese jederzeit ohne Angabe von Gründen eingestellt werden.' %}</p>

<h2>{% trans '§ 4. Auftragsablauf' %}</h2>

<p>{% trans 'Nach Auftragseingang nimmt OBERTH-MEDIA die Arbeit an dem erteilten Auftrag auf und liefert innerhalb der vereinbarten Frist die bestellten Entwürfe. Die Entwürfe werden mit einem deutlich sichtbaren Wasserzeichen (Copyrightsiegel) versehen, das Siegel wird bei Lieferung der endfertigen Reinzeichnung entfernt. Alle Entwürfe werden dem Kunden zur Begutachtung vorgelegt, der Kunde ist verpflichtet alle Änderungen und Korrekturen in Textform unverzüglich einzureichen. Sollte innerhalb von 7 Tagen keine Korrekturwünsche eingegangen sein, gilt der Entwurf als abgenommen. Zum Leistungsumfang gehören drei Korrekturen.' %}</p>

<p>{% trans 'OBERTH-MEDIA behält sich vor, die Einbindung von Daten, Bildern oder andere Inhalte, die vom Kunden geliefert werden zu verweigern, wenn diese gegen geltendes Recht verstoßen. Dies gilt insbesondere, wenn die übertragenen Daten, Bilder oder andere Inhalte gegen geltendes Urheberrecht verstoßen. Der Kunde verpflichtet sich alle Daten, Bilder oder andere Inhalte auf eventuelle Urheber- und Nutzungsrechte zu überprüfen. Der Kunde haftet vollständig für Schadensersatzansprüche, die aufgrund von Urheberechtsverletzungen durch die vom Kunden übergebenen Daten, Bilder oder Inhalte an OBERTH-MEDIA gestellt werden.' %}</p>

<p>{% trans 'Der Kunde verpflichtet sich, OBERTH-MEDIA alle Daten zur Auftragsabwicklung innerhalb von 7 Werktagen nach Auftragserteilung zu liefern. Sollte die Lieferung der Daten nicht innerhalb dieser Frist erfolgen, ist OBERTH-MEDIA dazu berechtigt, den Auftrag ohne weitere Angabe von Gründen zu stornieren und eine Aufwandspauschale in Höhe von 100.- Euro zu berechnen. Dem Kunden bleibt der Nachweis eines geringeren Schadens vorbehalten.' %}</p>

<h2>{% trans '§ 5. Rechnung / Zahlung' %}</h2>

<p>{% trans 'Nach Auftragsabschluss erhält der Kunde von OBERTH-MEDIA eine ordentliche Rechnung per E-Mail oder Post. Die Rechnung ist innerhalb von 7-Tagen netto ohne Abzug auszugleichen.' %}</p>

<h2>{% trans '§ 6. Lieferung' %}</h2>

<p>{% trans 'Die Lieferung der Reinzeichnungen erfolgt umgehend nach Rechnungsausgleich durch den Kunden.' %}</p>

<h2>{% trans '§ 7. Nutzungsrechte' %}</h2>

<p>{% trans 'Nach vollständiger Zahlung der Auftragssumme erhält der Kunde das zeitlich und räumlich uneingeschränkte Nutzungsrecht für die erstellten Medien.' %}</p>

<h2>{% trans '§ 8. Gewährleistung, Mängel' %}</h2>

<p>{% trans 'OBERTH-MEDIA verpflichtet sich, jeden Auftrag mit höchster Sorgfalt auszuführen. OBERTH-MEDIA verpflichtet sich bei mangelhafter Leistung zur kostenlosen Nachbesserung im angemessenen Umfang. Bei fehlerhafter Nachbesserung (z.B. bei Unmöglichkeit) kann der Auftraggeber, außer bei Vorsatz oder grober Fahrlässigkeit, keinen Schadensersatzanspruch geltend machen, sondern lediglich Herabsetzung des Kaufpreises oder im Fall der Unmöglichkeit Rückgängigmachung des Werkvertrages verlangen. Reklamationen oder Beanstandungen gleich welcher Art müssen vom Kunden innerhalb einer Frist von 10 Tagen schriftlich oder telefonisch geltend gemacht werden. Nach Ablauf der Frist gilt die Arbeit als mangelfrei abgenommen.' %}</p>

<h2>{% trans '§ 9. Haftungsbeschränkungen' %}</h2>

<p>{% trans 'OBERTH-MEDIA haftet nicht für weitergehende Ansprüche gleich aus welchem Rechtsgrund, insbesondere auf Ersatz von Schäden, die nicht durch die geleistete Leistung selbst entstanden sind, außer im Fall von Vorsatz oder grober Fahrlässigkeit.' %}</p>

<h2>{% trans '§ 10. Schlussbestimmungen' %}</h2>

<p>{% trans 'Der Kunde erklärt sich damit einverstanden, dass OBERTH-MEDIA die für ihn erstellten Arbeiten, als Referenz publizieren kann. Weiterhin stimmt der Auftraggeber zu, dass sein Firmenname, Domain oder Zitate für Werbezwecke publiziert werden kann. Erfüllungsort der Leistungen ist der Sitz von OBERTH-MEDIA. Es gilt das Recht der Bundesrepublik Deutschland. Der Gerichtsstand ist für alle Ansprüche aus dem Vertrag, soweit die Parteien prorogationsbefugt sind, Rostock. Sollte eine dieser Bestimmungen unwirksam sein, so wird dadurch die Wirksamkeit der übrigen Bestimmungen nicht angetastet. Unwirksame Bestimmungen werden soweit möglich, durch wirksame Bestimmungen ersetzt, die den angestrebten wirtschaftlichen Zweck weitgehend erreichen. Jede Änderung des Vertrages bedarf der Textform, das gilt auch für die Aufhebung des Formerfordernisses.' %}</p> 
{% endblock %}