{% extends 'homepage/text.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Oberth-Media - Kontakt' %}{% endblock %}

{% block page_title %}{% trans 'Kontaktieren Sie uns' %}{% endblock %}

{% block text %}
    <div class="form_errors">
    <form action="{% url 'homepage:contact' %}" method="post">
        {% csrf_token %}
        <div class="form" id="contact_form">
            {% for field in contact_form %}
            <div title='{% for msg in field.errors %}{{ msg }}{% endfor %}' 
                 class="line">
                <div class="name">{{ field.help_text }}</div>
                <div class="field {% if field.errors %}error{% endif %}">{{ field }}</div></div>
            {% endfor %}
            <div class="line"><input type="submit" value="{% blocktrans %}Nachricht absenden{% endblocktrans %}" /></div>
        </div>
    </form>

    <p style="clear:both"><br /></p>

    <div class="title"><h1>Unsere Kontaktdaten</h1></div>
    <table class="contact_data">
        <tr>
            <td><b>Büro:</b> 0381 / 38 39 116</td>
            <td><b>Mobil:</b> 0152 / 535 722 35</td>
            <td><b>E-Mail:</b> admin@oberth-media.de</td>
        </tr>   
    </table>
{% endblock %}