{% extends 'homepage/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Oberth-Media - Werbeagentur aus Rostock'%}{% endblock %}
    
{% block content %}
<div class="title"><h1>{% trans 'Unsere Referenzen' %}</h1></div>
<div class="references">
    {% for ref in references %}
        <div class="reference" style="{% if forloop.counter|divisibleby:'3' %}margin-right: 0;{% endif %}background-image: url('{{ STATIC_URL }}upload/{{ ref.cover }}');">
            <div class="reference_details">
                <h2 class="reference_title">{{ ref.title }}</h2>
                <p class="reference_description">{{ ref.description }}</p>
            </div>
        </div>  
    {% endfor %}
    {% for i in generate_bulks %}
        <div class="reference" style="{% if forloop.last %}margin-right: 0;{% endif %}"></div>
    {% endfor %}
</div>
<div style="clear: both"></div>
{% endblock %}
