{% extends 'homepage/base.html'%}
{% load webdesign %}

{% block description %}{% endblock %}

{% block content %}
<div class="content">
    <h1 class="page_title">Pen & Pencil GMBH</h1>
    <div class="reference_ourjob">Was wir geleistet haben</div>
    <div class="top_triangle"></div>
    <div class="bottom_triangle"></div>
    <img src="{{ STATIC_URL }}references/img/1_detail.png"/>
    <div class="img_effect"></div>
    <div class="text">
        {% lorem 6 p %}
    </div>
</div>
{% endblock %}

