{% extends 'homepage/text.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Oberth-Media - Impressum' %}{% endblock %}

{% block page_title %}{% trans 'Impressum' %}{% endblock %}

{% block text %}

<p class="sitenotice">{% trans 'Oberth Media haftet nicht für weiterführende Links.' %}</p>
<table class="sitenotice">
    <tr>
        <th>{% trans 'Firma' %}:</th>
        <td>{% trans 'Julian Oberth und Karsten Janke Media GbR' %}</td>
    </tr>
    <tr>
        <th>{% trans 'Steuernummer' %}:</th>
        <td>079/156/15702</td>
    </tr>
    <tr>
        <th>{% trans 'USt-IdNr.' %}:</th>
        <td>DE270658777</td>
    </tr>
</table>

<p><br /></p>

<div class="title"><h1>{% trans 'Wir sind' %}:</h1></div>
<table class="sitenotice">
    <tr>
        <th>{% trans 'Vorname' %}:</th>
        <td>Julian Amadeus Herrmann</td>
    </tr>
    <tr>
        <th>{% trans 'Nachname' %};</th>
        <td>Oberth</td>
    </tr>
    <tr>
        <th>{% trans 'Anschrift' %}:</th>
        <td>Max-Maddalena-Straße 20, 18069 Rostock</td>
    </tr>
    <tr>
        <th>{% trans 'E-Mail' %}:</th>
        <td>julian.oberth@oberth-media.de</td>
    </tr>
    <tr>
        <th>{% trans 'Mobil' %}:</th>
        <td>0152/ 535 75 535</td>
    </tr>
</table>

<table class="sitenotice">
    <tr>
        <th>{% trans 'Vorname' %}:</th>
        <td>Karsten</td>
    </tr>
    <tr>
        <th>{% trans 'Nachname' %}:</th>
        <td>Janke</td>
    </tr>
    <tr>
        <th>{% trans 'Anschrift' %}:</th>
        <td>Elisabethstraße 8, 18057 Rostock</td>
    </tr>
    <tr>
        <th>{% trans 'E-Mail' %}:</th>
        <td>karsten.janke@oberth-media.de</td>
    </tr>
    <tr>
        <th>{% trans 'Mobil' %}:</th>
        <td>0163/ 977 499 0</td>
    </tr>
</table>


<p><br /></p>

<div class="title"><h1>{% trans 'Wir danken' %}</h1></div>
<table class="sitenotice">
    <tr>
        <th>{% trans 'Programmierer' %}:</th>
        <td><a href="http://bernhard-posselt.com/">Bernhard Posselt</a></td>
    </tr>
    <tr>
        <th>{% trans 'Server-Hosting' %}:</th>
        <td>Angelo Gründler</td>
    </tr>
    <tr>
        <th>{% trans 'Fonts' %}:</th>
        <td><a href="http://www.yannlecoroller.com">Yann Le Coroller</a></td>
    </tr>
</table>

<p><br /></p>

<div class="title"><h1>{% trans 'Ein weiterer Dank geht an folgende Open Source Projekte:' %}</h1></div>
<div class="foss">
    <table>
        <tr>
            <td><a href="http://jquery.com/"><img src="{{ STATIC_URL }}homepage/img/pages/jquery.png" alt="jQuery" /></a></td>
            <td><a href="http://www.djangoproject.com/"><img src="{{ STATIC_URL }}homepage/img/pages/django.gif" alt="Django" /></a></td>
            <td><a href="http://python.org/"><img src="{{ STATIC_URL }}homepage/img/pages/python.png" alt="Python" /></a></td>
            <td><a href="http://dev.mysql.com/"><img src="{{ STATIC_URL }}homepage/img/pages/mysql.png" alt="Mysql" /></a></td>
        </tr>
        <tr>
            <td><a href="http://debian.org/"><img src="{{ STATIC_URL }}homepage/img/pages/debian.png" alt="Debian GNU/Linux"/></a></td>
            <td><a href="http://gimp.org/"><img src="{{ STATIC_URL }}homepage/img/pages/gimp.png" alt="Gimp"/></a></td>
            <td><a href="http://inkscape.org/"><img src="{{ STATIC_URL }}homepage/img/pages/inkscape.png" alt="Inkscape"/></a></td>
            <td><a href="http://httpd.apache.org/"><img src="{{ STATIC_URL }}homepage/img/pages/apache.gif" alt="Apache" /></a></td>
        </tr>
    </table>
</div>
{% endblock %}
